<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Set Title</h2>
      </div>
    </md-toolbar>
    <md-content class="md-padding">

        <p>Set a friendly title that is only used so that you can identify this content Id</p>
        <md-input-container class="md-block" flex-gt-xs>
            <label>Title</label>
            <input ng-model="title" >
        </md-input-container>
         <md-button ng-click="save()" >
          Save
        </md-button>
    </md-content>
  </form>
</md-dialog>